.data-profile {
  display: flex;
  align-items: stretch;
  gap: 30px;
  margin-top: 20px;
  justify-content: space-between;
}

.data-profile > div {
  height: 100%;
}

.data,
.fields {
  width: fit-content;
  min-width: 200px;
}

.fields > p {
  font-weight: 500;
  margin: 20px 0;
}

.data > p {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: #000000 1px solid;
  border-radius: 20px;
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  height: 75%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-se {
  justify-content: space-around;
}

.divider {
  margin-top: 4vh;
}

.photo-comments {
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  border-radius: 50%;
}

.foto-comments {
  left: 20;
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin: 10px;
  border-radius: 50%;
}

.comment-paginator {
  display: flex;
  justify-content: space-around;
}

.paginator {
  display: flex;
  justify-content: left;
}

.profile-Photo {
  overflow: hidden;
  margin: 10px;
  position: relative;
  border-radius: 50%;

  margin-bottom: 3vh;

  height: 200px;
  width: 200px;
}

.description {
  text-align: justify;
}

.profile-column {
  width: 20vw;
  align-items: center;
}

.tab-column {
  align-content: center;
  align-items: center;
  margin-left: 2vw;
  width: 70%;
}

.stars-user {
  display: flex;
  justify-content: left;
}

.p-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
}
.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.buttons-container-vehicle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 100%;
}

.buttons-container-experience {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 30%;
}

.experience .mat-tab-body-content {
  overflow: inherit;
}

.p-info-btn {
  width: 80%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 30px;
  /* width: 35vw; */
  padding: 1vw;
  background: #fff;
  color: black;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

.tab-panel {
  margin: 5vh 2vw 0vh 2vw;
}

.divider {
  margin-top: 5vh;
}

.p-info button {
  font-weight: lighter;
}

.btn-edit-exp {
  color: white;
  margin-top: 3vh;
  border-radius: 5vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3vh;

  text-align: center;
}

.column ul li {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.title2 {
  font-weight: bolder;
}

.img-responsive {
  height: 200px;
  width: 200px;

  overflow: hidden;
  margin: 10px;
  position: relative;
}

.photo-comments {
  height: 70px;
  width: 70px;

  overflow: hidden;
  margin: 10px;
  position: relative;
}

.c-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.c-column p {
  text-align: justify;
}

.comments .row {
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    margin-right: 7vw;
    height: auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-column {
    margin-right: 0vw;
  }
  .column .profile-column {
    margin-right: 0vw;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .row-se {
    justify-content: space-around;
  }

  .profile-photo {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    border-radius: 50%;

    margin-bottom: 3vh;
  }

  .description {
    text-align: justify;
  }

  .tab-column {
    align-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0vw;
    margin-top: 5vh;
  }

  .stars-user {
    display: flex;
    justify-content: left;
  }

  .p-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .p-info-btn {
    width: 80%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 30px;
    padding: 1vw;
    background: #fff;
    color: black;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  }

  .tab-panel {
    margin: 5vh 2vw 0vh 2vw;
  }

  .divider {
    margin-top: 5vh;
  }

  .p-info button {
    font-weight: lighter;
  }

  .btn-edit-exp {
    color: white;
    margin-top: 3vh;
    border-radius: 5vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;

    text-align: center;
  }

  .column ul li {
    margin-top: 1vw;
  }
  .c-column {
    width: 90%;
  }
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
}

.profilePhoto {
  margin-top: 12%;
  margin-bottom: 3%;
  margin-left: 13%;
  width: 75%;
  height: auto;
}

.starIcon {
  color: #0f15a3;
  align-items: center;
  width: 35px;
}

.starsUser {
  align-items: center;
  margin-inline: 20%;
  align-content: center;
  margin-bottom: 1vw;
}

button {
  background-color: #0f15a3;
  color: #ffffff;
  border-radius: 45px;
}

.editP {
  background-color: #0f15a3;
  color: #ffffff;
  border-radius: 45px;
  padding-inline: 16%;
}

mat-bar {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 190%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-emphasis-color: #000000;
  color: #000000;
}

.mat-ink-bar {
  color: #1acc8d;
  background: #1acc8d;
  scrollbar-color: #1acc8d;
}

.btn-edit {
  background: #1acc8d;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 260px;
  height: 40px;
  margin-inline: 200px;
}

h6 {
  position: absolute;
  left: 110px;
  top: 30px;
}

h4 {
  position: absolute;
  right: 100px;
  top: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #0f15a3;
}

.star-foto {
  position: absolute;
  right: 5%;
}

.title2 {
  position: absolute;
  left: 25px;
  top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}

.title3 {
  position: absolute;
  left: 25px;
  top: 55px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 190%;
  display: flex;
  align-items: center;
  color: #000000;
}

.title4 {
  font-family: "Inter";
  margin-top: 14%;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}

.btn-update {
  width: fit-content;
  background: #1acc8d;
  text-align: center;
}

.btn-add {
  position: absolute;
  width: 180px;
  top: 87%;
  background: #1acc8d;
  text-align: center;
}

.card {
  margin-bottom: -40px;
  margin-top: 0%;
  left: 19%;
  margin-right: 19%;
  word-break: break-all;
  align-items: center;
  width: 80%;
}

mat-tab {
  margin-top: 10%;
}

.info {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 15vh;
}

.mat-form-field {
  height: 45px;
}

.btn-save {
  position: absolute;
  width: 250px;
  top: 87%;
  left: 10%;
  background: #1acc8d;
  text-align: center;
}

.experience {
  display: block;
}

.info2 {
  position: relative;
  left: +225px;
  top: +50px;
}
