<app-header></app-header>

<h1>Welcome, Let's Get Started!</h1>
<form mat class="card" [formGroup]="signInForm">
  <mat-form-field>
    <input matInput placeholder="Email address" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Type of User" formControlName="type">
      <mat-option value="client">Client</mat-option>
      <mat-option value="carrier">Carrier</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
  <div class="column">
    <p>
      <a [routerLink]="'/forgot-password'"><u>Forgot Your Password?</u></a>
    </p>
    <p>
      No Account Yet? <a [routerLink]="'/signup'"><u>Create Account</u></a>
    </p>
  </div>
</form>

<app-footer></app-footer>
