.contract-tabs {
  display: flex;
  align-items: center;
}

.mat-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: none;
}

.client-price {
  display: grid;
  grid-template-columns: 63% 37%;
  grid-template-rows: 40% 60%;
}

.client {
  display: flex;
}

.price {
  color: #0f15a3;
  font-weight: bold;
  font-size: x-large;
}

.buttons-area {
  display: flex;
  justify-content: space-between;
}

.buttons-area button {
  border-radius: 18px;
  width: 45%;
}

.card-history {
  display: flex;
  flex-grow: 1 1;
}
