<mat-toolbar color="primary">
  <img class="logo" src="../assets/img/fastporte-logo.png" alt="Logo" />
  <h1>FastPorte</h1>
  <div class="mat-spacer"></div>
  <a mat-button [routerLink]="'/home-c'">Home</a>
  <a mat-button [routerLink]="'/my-profile-c'">My Profile</a>
  <a mat-button [routerLink]="'/search'">Search Vehicles</a>
  <a mat-button [routerLink]="'/contracts-c'">Contracts</a>
  <a mat-button [routerLink]="'/settings-c/card-settings'">Settings</a>
  <a mat-button [routerLink]="'/support'">Support</a>
  <mat-icon
    [matBadge]="cont"
    matBadgeColor="warn"
    [matBadgeHidden]="hidden"
    (click)="
      toggleBadgeVisibility(); notification.showModal(); updateNotification()
    "
    >notifications_active</mat-icon
  >
</mat-toolbar>

<app-notifications [title]="'Notifications'" #notification>
  <div *ngFor="let clientNotification of clientNotifications.slice().reverse()">
    <mat-card
      class="example-card"
      *ngIf="clientNotification.status.status == 'PENDING'"
    >
      <mat-card-header>
        <img
          mat-card
          class="accept"
          src="https://i.postimg.cc/GpWLNrx0/image-47.png"
        />

        <mat-card-title
          >Congratulations! The carrier accepted your request for services.
        </mat-card-title>
        <mat-card-subtitle>
          Click on the button to access the payment form.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="goToContract(clientNotification.id)"
        >
          See More Details
        </button>
      </mat-card-actions>
    </mat-card>
    <br />

    <mat-card
      class="card-rejected"
      *ngIf="
        clientNotification.status.status == 'OFFER' &&
        clientNotification.visible == false
      "
    >
      <mat-card-header>
        <mat-card-title class="card-title">Contract rejected</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="card-history">
          <div class="client-history">
            <img
              [src]="clientNotification.client.photoUrl || defaultImage"
              alt="Profile"
              class="profile-img-history"
            />
            <div>
              <strong>Client</strong>
              <p>{{ clientNotification.client.username }}</p>
            </div>
          </div>
          <div>
            <h4>DETAILS</h4>
            <p>
              Date:
              <strong>{{ clientNotification.date }}</strong>
            </p>
            <p>
              From:
              <strong>{{ clientNotification.streetFrom }}</strong>
            </p>
            <p>
              To: <strong>{{ clientNotification.streetTo }}</strong>
            </p>
            <p>
              Amount:
              <strong>{{ clientNotification.amount }}</strong>
            </p>
          </div>
        </mat-card>
      </mat-card-content>
    </mat-card>
    <br />
  </div>
</app-notifications>
