<app-header></app-header>

<img src="../../../../assets/imgs/fastporte-logo.png" alt="" class="card">

<h1>Fill In Your User Information</h1>
<form mat action="" class="card">
    <mat-form-field>
        <input matInput placeholder="Email address">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirm Password">
    </mat-form-field>
    <button mat-raised-button [routerLink]="'/signup-p3'" color="primary">Continue</button>
</form>

<app-footer></app-footer>