<app-header-d></app-header-d>
<mat-tab-group class="contract-tabs">
  <mat-tab label="Offers">
    <br />
    <h1><strong>Offer Information</strong></h1>
    <div *ngFor="let offer of contracts.offers">
      <mat-card>
        <mat-card-title>Resume</mat-card-title>
        <mat-card-subtitle>
          <strong>Subject: </strong> {{ offer.subject }}
        </mat-card-subtitle>
        <mat-card-content>
          <div>
            <p>
              From <strong> {{ offer.from }}</strong>
            </p>
            <p>
              To: <strong>{{ offer.to }}</strong>
            </p>
            <p>
              Date: <strong> {{ offer.date }}</strong>
            </p>
            <p>
              Time:
              <strong>
                {{ offer.time.departure }} - {{ offer.time.arrival }}</strong
              >
            </p>
            <p>
              Quantity: <strong>{{ offer.quantity }}</strong>
            </p>
          </div>
          <hr />
          <div class="client-price">
            <strong>Client data</strong>
            <strong style="text-align: center">Amount:</strong>
            <div class="client">
              <img
                src="{{ offer.client.photo }}"
                alt="Profile"
                class="profile-img"
              />
              <div style="flex-grow: 2">
                <strong
                  >{{ offer.client.name }} {{ offer.client.lastName }}</strong
                >
                <p>Phone: {{ offer.client.phone }}</p>
              </div>
            </div>
            <p class="price">S/. {{ offer.amount }}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <br />
      <div class="buttons-area">
        <button mat-raised-button color="accent">Accept</button>
        <button mat-raised-button color="warn">Decline</button>
      </div>
      <br />
    </div>
  </mat-tab>
  <mat-tab label="Pending Contracts">
    <br />
    <h1><strong>Pending Contracts </strong></h1>
    <div *ngFor="let pending of contracts.pending">
      <mat-card>
        <mat-card-title>Resume</mat-card-title>
        <mat-card-subtitle>
          <strong>Subject: </strong> {{ pending.subject }}
        </mat-card-subtitle>
        <mat-card-content>
          <div>
            <p>
              From <strong> {{ pending.from }}</strong>
            </p>
            <p>
              To: <strong>{{ pending.to }}</strong>
            </p>
            <p>
              Date: <strong> {{ pending.date }}</strong>
            </p>
            <p>
              Time:
              <strong>
                {{ pending.time.departure }} -
                {{ pending.time.arrival }}</strong
              >
            </p>
            <p>
              Quantity: <strong>{{ pending.quantity }}</strong>
            </p>
          </div>
          <hr />
          <div class="client-price">
            <strong>Client data</strong>
            <strong style="text-align: center">Amount:</strong>
            <div class="client">
              <img
                src="{{ pending.client.photo }}"
                alt="Profile"
                class="profile-img"
              />
              <div style="flex-grow: 2">
                <strong
                  >{{ pending.client.name }}
                  {{ pending.client.lastName }}</strong
                >
                <p>Phone: {{ pending.client.phone }}</p>
              </div>
            </div>
            <p class="price">S/. {{ pending.amount }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="History">
    <br />
    <h1><strong>Contracts History</strong></h1>
    <div *ngFor="let history of contracts.history">
      <mat-card class="card-history">
        <div class="client-history">
          <img
            src="{{ history.client.photo }}"
            alt="Profile"
            class="profile-img-history"
          />
          <div>
            <strong>Client</strong>
            <p>{{ history.client.name }} {{ history.client.lastName }}</p>
          </div>
        </div>
        <div>
          <h4>DETAILS</h4>
          <p>
            Date: <strong>{{ history.date }}</strong>
          </p>
          <p>
            From: <strong>{{ history.from }}</strong>
          </p>
          <p>
            To: <strong>{{ history.to }}</strong>
          </p>
          <p>
            Amount: <strong>{{ history.amount }}</strong>
          </p>
        </div>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
