.mat-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: none;
}

.card-group {
  display: inline-block;
}

.card {
  max-width: 100%;
}

.contract-information {
  margin: 6vw;
  width: 20vw;
}

.client-price {
  display: grid;
  grid-template-columns: 63% 37%;
  grid-template-rows: 40% 60%;
}

.client {
  display: flex;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 150px;
  margin-right: 7px;
}

.client-history {
  margin: 40px;
}

.profile-img-history {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  margin-right: 7px;
}

.price {
  color: #0f15a3;
  font-weight: bold;
  font-size: x-large;
}

.buttons-area {
  display: flex;
  justify-content: space-between;
}

.buttons-area button {
  border-radius: 18px;
  width: 45%;
}

.card-history {
  display: flex;
}
