<app-header-c></app-header-c>

<div class="container">
  <div class="column profile-column">
    <img
      [src]="carrier.photoUrl || defaultImage"
      mat-card-avatar
      class="profile-photo"
      alt="User
      Avatar"
    />
    <h1 style="font-weight: bolder">{{ carrier.username }}</h1>
    <p class="description">{{ carrier.description }}</p>
    <div class="starsUser">
      <mat-icon
        *ngFor="let star of stars"
        class="starIcon"
        fontIcon="star"
      ></mat-icon>
    </div>
    <button
      color="accent"
      class="editP"
      mat-raised-button
      (click)="goRequestService()"
    >
      Contract
    </button>
  </div>

  <div class="column tab-column">
    <mat-tab-group mat-align-tabs="center" style="max-height: 90%">
      <mat-tab label="Personal information">
        <div class="tab-panel">
          <div class="p-info">
            <b>Full name</b>
            <button class="p-info-btn" mat-raised-button color="primary">
              {{ carrier.username }}
            </button>
          </div>

          <div class="p-info">
            <b>Birthdate</b>
            <button class="p-info-btn" mat-raised-button color="primary">
              {{ carrier.birthdate }}
            </button>
          </div>

          <div class="p-info">
            <b>E-mail</b>
            <button class="p-info-btn" mat-raised-button color="primary">
              {{ carrier.email }}
            </button>
          </div>

          <div class="p-info">
            <b>Phone</b>
            <button class="p-info-btn" mat-raised-button color="primary">
              {{ carrier.phone }}
            </button>
          </div>

          <div class="p-info">
            <b>Location</b>
            <button class="p-info-btn" mat-raised-button color="primary">
              {{ carrier.street }}
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Experience">
        <div class="tab-panel">
          <div *ngIf="experiences; else noExperiences">
            <div *ngFor="let experience of experiences">
              <br />
              <p>
                Job
                <button
                  class="btn"
                  style="right: 20px"
                  mat-raised-button
                  color="primary"
                >
                  {{ experience.job }}
                </button>
              </p>

              <p>
                Years
                <button
                  class="btn"
                  style="right: 20px"
                  mat-raised-button
                  color="primary"
                >
                  {{ experience.years }} years
                </button>
              </p>

              <br />
              <mat-divider></mat-divider>
            </div>
          </div>
          <ng-template #noExperiences>
            <div class="no-experiences">
              <p>There are no experiences</p>
            </div>
          </ng-template>
        </div>
      </mat-tab>

      <mat-tab label="About the vehicle">
        <mat-grid-list cols="2" rowHeight="400px">
          <mat-grid-tile>
            <div class="title2">Vehicle Information</div>
            <div *ngIf="vehicles; else noVehiclesInfo">
              <div *ngFor="let vehicle of vehicles">
                <p class="title4">Type: {{ vehicle.type }}</p>
                <p class="title4">Quantity: {{ vehicle.quantity }}</p>
              </div>
            </div>
            <ng-template #noVehiclesInfo>
              <div>
                <p>There are no vehicles</p>
              </div>
            </ng-template>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="title2">Photos</div>
            <div *ngIf="vehicles; else noVehiclesImg">
              <div *ngFor="let vehicle of vehicles">
                <img
                  mat-icon
                  [src]="vehicle.photo"
                  alt="Vehicle photo"
                  style="max-width: 100%"
                />
              </div>
            </div>
            <ng-template #noVehiclesImg>
              <div>
                <p>There are no images</p>
              </div>
            </ng-template>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>

      <mat-tab label="Comments">
        <div class="comments" *ngIf="comments; else noComments">
          <div *ngFor="let comment of pageSlice" class="tab-panel">
            <div class="row">
              <img
                [src]="comment.client.photoUrl"
                alt=""
                class="photo-comments"
                mat-card-avatar
              />
              <div class="c-column">
                <h2>{{ comment.client.username }}</h2>
                <p mat-line>{{ comment.comment }}</p>
              </div>
              <div class="row">
                <b style="font-size: larger">{{ comment.stars }}</b>
                <mat-icon fontIcon="star"></mat-icon>
              </div>
            </div>

            <mat-divider class="divider"></mat-divider>
          </div>
          <div class="comment-paginator">
            <mat-paginator
              [length]="this.comments.length"
              *ngIf="this.comments"
              [pageSize]="3"
              [pageSizeOptions]="[3]"
              class="paginator"
              (page)="onPageChange($event)"
            >
              aria-label="Select page">
            </mat-paginator>
          </div>
        </div>
        <ng-template #noComments>
          <div class="no-comments">
            <p>There are no comments</p>
          </div>
        </ng-template>
        
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-footers></app-footers>
