<app-header></app-header>
<img src="../../../../assets/imgs/fastporte-logo.png" alt="" class="card">

<h1>Forgot Your Password?</h1>
<p>Type-in a new password different<br> from the previus one and repeat to validate </p>
<form mat action="" class="card">
    <mat-form-field>
        <input matInput placeholder="New password">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirm password">
    </mat-form-field>
    <button mat-raised-button color="primary" [routerLink]="'/login'">Confirm</button>

</form>
<app-footer></app-footer>